# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.joblib
*.log

# Virtual Environment
venv/
.env/

# Jupyter Notebooks (if used)
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# IDE/Editor Settings
.vscode/
.idea/

# Pytest cache
.cache/

# Build and distribution
dist/
build/
*.egg-info/

# Docker
*.tar
